h1 {
    text-align: center;
    margin: 0px;
}

h2 {
    text-align: center;
    margin: 0px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 20px 10px 0px 10px;
}